.movieDetail__background {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 50px;
  color: white;
  display: flex;
}

.MovieDetail__left {
  width: 30vw;
}
.movieDetail__img {
  height: 80vh;

  align-items: center;
}
.MovieDetail__right {
  width: 70vw;
  padding-top: 2%;
}

.movieDetail__year {
  color: greenyellow;
}

.MovieDetail__summary {
  font-size: large;
}
